.styles-for-img {
  display: block;
  width: 400px;
  height: 100%;
}
.lists {
  list-style-type: none;
}
#gallery {
  display: flex;
  flex-direction: row;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
